
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Result Visualization</title>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    
</head>
<body>
    <div id="chart_div"></div>

    <script>


        $(document).ready(function () {
        
            let data = JSON.parse('@Html.Raw(ViewData["data"])');

            function drawChart(result) {
                var data = new google.visualization.DataTable(result);
                data.addColumn('string', 'Name');
                data.addColumn('number', 'Stoklar');
                var dataArray = [];

                $.each(result, function (i, obj) {
                    dataArray.push([obj.Name, obj.Stock]);
                });
                data.addRows(dataArray);

                var columnChartOptions = {
                    title: '@Html.Raw(@ViewData["chartTitle"])',
                    width: 1000,
                    height: 750,
                    bar: { groupWidth: "20%" },
                };

                var columnChart = new google.visualization['@ViewData["chartType"]'](document
                    .getElementById('chart_div'));

                columnChart.draw(data, columnChartOptions);
            }
            google.load("visualization", "1", { packages: ["corechart"] });
            google.setOnLoadCallback(() => drawChart(data));
        });
    </script>
</body>
</html>